$input-height: 50px;

ion-content::part(scroll) {
  padding-bottom: $input-height;
}

#chat-area {
  height: calc(100% - $input-height);
  // overflow-y: scroll;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  align-items: flex-start;

}

.message {
  $message-border-radius: 0.65rem;

  min-width: 30%;
  max-width: 55%;
  color: black;
  padding: 0.3rem 0.6rem;

  margin-bottom: 0.4rem;

  &.sent {
    background-color: yellowgreen;
    border-radius: $message-border-radius $message-border-radius $message-border-radius 0rem;
  }

  &.recieved {
    margin-left: auto;

    background-color: whitesmoke;
    border-radius: $message-border-radius $message-border-radius 0rem $message-border-radius;
  }
}

// .message.sent {
//   background-color: yellowgreen;
// }

// .message.recieved {
//   background-color: whitesmoke;
// }

#input {
  position: fixed;
  bottom: 0;
  left: 0;
  // position: sticky;

  height: $input-height;
  width: 100%;

  background-color: var(--ion-tab-bar-background);

  padding-left: 0.5rem;

  display: flex;
  flex-direction: row;


  ion-button {
    margin: 0;
    --border-radius: 0;
  }
}

#scroll-button {
  $space-to-screen-edge: 1rem;

  position: fixed;
  right: $space-to-screen-edge;
  bottom: calc($space-to-screen-edge + $input-height);
  // right: 50px;
  // bottom: 150px;

  ion-button {
    --border-radius: 100%;
    // height: 100%;
  }
}
