<div #chatArea id="chat-area">
  <div class="message sent"> something </div>
  <div class="message sent"> something </div>
  <div class="message sent"> something </div>
  <div class="message recieved"> something </div>
  <ion-button (click)="scroll()" size="small"> Scroll </ion-button>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>
  <p> Hey </p>

  <div id="input">
    <p>
      Input
    </p>
  </div>
</div>
