<ion-content>
  <div #chatArea id="chat-area">
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
    <div class="message recieved"> something </div>
    <div class="message sent"> something </div>
    <div class="message sent"> something </div>
  </div>
</ion-content>

<div id="input">
  <ion-input placeholder="Type a message..."></ion-input>
  <ion-button color="medium">
    <ion-icon name="send"></ion-icon>
  </ion-button>
</div>

<div id="scroll-button">
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end"> -->
  <ion-fab-button (click)="scroll()" color="light" size="small">
    <ion-icon name="chevron-down" size="small"></ion-icon>
  </ion-fab-button>
</div>
