<ion-card style="max-width: 500px;">
  <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
  <img alt="Silhouette of mountains" [src]="laptop.image" />
  <ion-card-header>
    <ion-card-title> {{ laptop.brand }} </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    CPU: {{ laptop.cpu }} <br>
    RAM: {{ laptop.ram }}
  </ion-card-content>

  <ion-button fill="clear" [routerLink]="'/detail/' + id"> View Details </ion-button>
</ion-card>
