<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title> Activity </ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-modal">
        Add
      </ion-button>
      <ion-button id="add-modal" (click)="activityService.addRandom()">
        Add Random
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Activity </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="activities === undefined">
    <ion-label> Loading activities please wait... </ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <div *ngIf="activities !== undefined">
    <div *ngIf="activities.length === 0" class="ion-padding">
      No activities are stored in the database. <br>
      Try adding a new one!
    </div>
    <ion-accordion-group *ngIf="activities.length !== 0">
      <ion-accordion
          *ngFor="let a of activities; let index=index"
          [value]="a.id"
          >
        <ion-item slot="header"
            [color]="index == editIndex ? 'medium' : 'light'"
            >
          <ion-label>
            {{ a.title }}
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div
              *ngIf="editIndex != index"
              style="line-height: 1.7;"
              >
            Date: {{ formatDate(a.date) }} <br>
            Duration: {{ a.duration }} <br>
            Number of participants: {{ a.partCount }} <br>
            Activity topic: {{ a.topic }} <br>
            Venue: {{ a.venue }} <br>
          </div>

          <div *ngIf="editIndex == index">

            <x-input
              label="Enter title"
              placeholder="Activity title"
              name="title"
              [fc]="editForm.controls.title"></x-input>
            <x-input
              label="Enter participant count"
              placeholder="Activity participant count"
              name="participant count"
              [fc]="editForm.controls.partCount"></x-input>
            <x-input
              label="Enter venue"
              placeholder="Activity venue"
              name="venue"
              [fc]="editForm.controls.venue"></x-input>

            <ion-item>
              <ion-label> Date </ion-label>
              <ion-datetime-button datetime="date"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="date"
                      [(ngModel)]="editProps.date"
                      presentation="date"
                      >
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label> Duration </ion-label>
              <ion-datetime-button datetime="duration"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="duration"
                      [(ngModel)]="editProps.duration"
                      presentation="time"
                      >
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-select
                  label="Select topic"
                  placeholder="Your activity topic"
                  interface="action-sheet"
                  [(ngModel)]="editProps.topic"
                  >
                <ion-select-option value="Cultural">
                  Cultural
                </ion-select-option>
                <ion-select-option value="Scientific">
                  Scientific
                </ion-select-option>
                <ion-select-option value="Competition">
                  Competition
                </ion-select-option>
                <ion-select-option value="Organization">
                  Organization
                </ion-select-option>
                <ion-select-option value="General">
                  General
                </ion-select-option>
              </ion-select>
            </ion-item>

          </div>

          <div class="button-container">
            <ion-button
                *ngIf="editIndex == index"
                size="small"
                (click)="editIndex = -1"
                >
              Cancel
            </ion-button>
            <ion-button size="small" (click)="toggleEditable(index, a.id)">
              {{ editIndex == index ? 'Save' : 'Edit' }}
            </ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>

<ion-modal trigger="add-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-title> Add Member </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <x-form #addActivityComponent>

        <x-input
          label="Enter title"
          placeholder="Activity title"
          name="title"
          [fc]="addActivityForm.controls.title"></x-input>
        <x-input
          label="Enter participant count"
          placeholder="Activity participant count"
          name="participant count"
          [fc]="addActivityForm.controls.partCount"></x-input>
        <x-input
          label="Enter venue"
          placeholder="Activity venue"
          name="venue"
          [fc]="addActivityForm.controls.venue"></x-input>

        <ion-item>
          <ion-label> Date </ion-label>
          <ion-datetime-button datetime="date"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="date"
                  [(ngModel)]="addProps.date"
                  presentation="date"
                  >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label> Duration </ion-label>
          <ion-datetime-button datetime="duration"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="duration"
                  [(ngModel)]="addProps.duration"
                  presentation="time"
                  >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-select
              label="Select topic"
              placeholder="Your activity topic"
              interface="action-sheet"
              [(ngModel)]="addProps.topic"
              >
            <ion-select-option value="Cultural">
              Cultural
            </ion-select-option>
            <ion-select-option value="Scientific">
              Scientific
            </ion-select-option>
            <ion-select-option value="Competition">
              Competition
            </ion-select-option>
            <ion-select-option value="Organization">
              Organization
            </ion-select-option>
            <ion-select-option value="General">
              General
            </ion-select-option>
          </ion-select>
        </ion-item>


      </x-form>
    </ion-content>
  </ng-template>
</ion-modal>
