<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 2</ion-title>
    <ion-buttons slot="end">
      <ion-checkbox
        labelPlacement="end"
        style="margin-right: 1rem"
        [(ngModel)]="props.isSorted"
        (ionChange)="filter()"
      >
        Sort
      </ion-checkbox>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="requests === undefined">
    <ion-label>Loading printing requests please wait...</ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ng-container *ngIf="requests !== undefined">
    <div class="ion-padding" *ngIf="requests.length === 0">
      There are no requests currently in the database.
    </div>

    <ion-list *ngIf="requests.length !== 0">
      <ion-searchbar placeholder="Enter paper size..." />
      <ion-item *ngFor="let req of filteredRequests">
        <ion-label>{{ req.copiesCount }} -- {{ req.paperSize }}</ion-label>
        <ion-button color="danger" (click)="_delete(req)">Delete</ion-button>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
