<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="devices === undefined">
    <ion-label>Loading members please wait...</ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ng-template [ngIf]="devices !== undefined">
    <div class="ion-padding" *ngIf="devices.length === 0">
      There are no devices in the database.
      <br />
      Try addding a new one!
      <br />
      <ion-button routerLink="/tabs/tab1">Add a new device</ion-button>
    </div>

    <ion-list *ngIf="devices.length !== 0">
      <ng-container *ngFor="let device of devices; let index=index">
        <!-- Deivce -->
        <ion-item>
          <ion-label slot="start">Serial# {{ device.serial }}</ion-label>
          <ion-checkbox
            #ref
            justify="start"
            labelPlacement="end"
            (ionChange)="toggleHistory(ref.checked, index, device)"
          >
            History
          </ion-checkbox>
          <ion-button (click)="repairDevice(device)">Repair</ion-button>
        </ion-item>
        <!-- Device History -->
        <ion-item *ngIf="histories[index] !== undefined">
          <ng-template [ngIf]="(histories[index] | async)?.length === 0">
            No repairs where found
          </ng-template>
          <ng-container *ngFor="let history of histories[index] | async">
            {{ history.serial }} --- {{ history.repairDate }}
            <br />
          </ng-container>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-template>
</ion-content>
