<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Number of copies" type="Number" />
    </ion-item>
    <ion-item>
      <ion-select label="Paper size" interface="action-sheet">
        <ion-select-option *ngFor="let paperSize of dataService.PAPERSIZES">
          {{paperSize}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Ink quality" interface="action-sheet">
        <ion-select-option *ngFor="let quality of dataService.INKQUALITY">
          {{ quality }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle alignment="end">Do you want print date on paper?</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle alignment="end">Do you want it with borders?</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button style="margin-left: auto">submit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
