<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 3</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="printInOrder()">Print</ion-button>
      <ion-button (click)="printInReverseOrder()">Reverse Print</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="requests === undefined">
    <ion-label>Loading printing requests please wait...</ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <ng-container *ngIf="requests !== undefined">
    <div class="ion-padding" *ngIf="requests.length === 0">
      There are no requests currently in the database.
    </div>

    <div class="ion-padding" *ngIf="requests.length !== 0">
      <ion-list-header>List 1</ion-list-header>
      <div class="target" #zone1 id="zone1">
        <div [id]="n" *ngFor="let n of list1" #drag>{{ n }}</div>
      </div>

      <ion-list-header>List 2</ion-list-header>
      <div class="target" #zone2>
        <div [id]="n" *ngFor="let n of list2" #drag>{{ n }}</div>
      </div>
    </div>
  </ng-container>
</ion-content>
