<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title> View Participants </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> View Participants </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="members === undefined">
    <ion-label> Loading members please wait... </ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <div
      class="ion-padding"
      *ngIf="members !== undefined"
      >
    <div *ngIf="members.length === 0" class="ion-padding">
      No members have participated in this activity.
    </div>
    <ion-list *ngIf="members.length !== 0">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchFilter()" />
      <ion-item
          *ngFor="let m of searchFilteredMembers; let index=index"
          style="line-height: 1.7"
          >
        {{ m.sid }} --- {{ m.fName }} {{ m.lName }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
