<ion-header [translucent]="true">
  <ion-toolbar [color]="settingsService.barColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/home"> Home </ion-button>
      <ion-button fill="clear" routerLink="/brand"> Brand </ion-button>
      <ion-button fill="clear" routerLink="/settings"> Settings </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- id: {{ id }} -->
  <div style="display: flex; justify-content: center;">
    <img style="max-width: 400px;" [src]="laptop.image" alt="">
  </div>

  <div class="ion-padding">
    <h3> {{ laptop.brand }}</h3>

    <div class="ion-padding" slot="content" *ngFor="let x of accordion_helper(laptop) | keyvalue">
      {{ x.key }}: {{ x.value }}
    </div>

    <div style="display: flex; flex-direction: row-reverse;">
      <ion-button routerLink="/brand" color="danger" size="small" routerDirection="back"> Close </ion-button>
    </div>

  </div>
</ion-content>
