<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title> View Activities </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> View Activities </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="activities === undefined">
    <ion-label> Loading activities please wait... </ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <div *ngIf="activities !== undefined">
    <div *ngIf="activities.length === 0" class="ion-padding">
      No activities are stored in the database. <br>
      Try adding a new one!
    </div>
    <ion-accordion-group *ngIf="activities.length !== 0">
      <ion-accordion
          *ngFor="let a of activities; let index=index"
          [value]="a.id"
          >
        <ion-item slot="header" color="light">
          <ion-label>
            {{ a.title }}
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <div style="line-height: 1.7;">
            Date: {{ formatDate(a.date) }} <br>
            Duration: {{ a.duration }} <br>
            Number of participants: {{ a.partCount }} <br>
            Activity topic: {{ a.topic }} <br>
            Venue: {{ a.venue }} <br>
          </div>

          <br>

          <div class="button-container">
            <ion-button
                size="small"
                (click)="activityService.participateInActivity(a.id)"
                [disabled]="activityService.isParticipant(a.id)"
                >
              Participate
            </ion-button>
            <ion-button
                size="small"
                routerLink="/view-participants/{{a.id}}"
                >
                View Participants
            </ion-button>
          </div>
        </div>

      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
