<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Home </ion-title>
    </ion-toolbar>
  </ion-header>


  <div style="margin: 1rem;">
    <ion-accordion-group>
      <ion-accordion
          *ngFor="let c of data; let i = index"
          [value]="c.name"
          >
        <ion-item slot="header" color="light">
          <ion-label> {{ c.name | uppercase }} </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <ion-list>
            <ion-item
                *ngFor="let subC of c.nav; let j = index"
                routerLink="/details/{{i}}/{{j}}"
                >
              {{ subC.name }}
            </ion-item>
          </ion-list>

        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>

<ion-footer>
  <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <ion-button style="width: 47%" (click)="devicesService.saveData()"> Save </ion-button>
    <ion-button style="width: 47%" id="get-button"> Get </ion-button>
    <ion-alert trigger="get-button" header="Where to get data from?"
      message="Whould you like to get data from file or local storage" [buttons]="alertButtons">
    </ion-alert>
  </div>
</ion-footer>
