<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div *ngIf="authService.user === null">
      <ion-input [(ngModel)]="email" label="Email"></ion-input>
      <ion-input [(ngModel)]="password" label="Password"></ion-input>
      <ion-button (click)="authService.signIn(email, password)">
        Sign in
      </ion-button>
    </div>
    <div *ngIf="authService.user !== null && authService.user !== undefined">
      <p>
        Hi, {{ authService.user.email }}:{{ authService.user.uid }}
      </p>

      <ion-list>
        <!-- <ion-item *ngFor="let thing of stuff$ | async"> -->
        <ion-item *ngFor="let thing of stuff">
           n = {{ thing.n }},
           s = {{ thing.s }}
        </ion-item>

        <ion-item>
          <ion-button (click)="addRandomThing()">
            Add random thing
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="authService.signOut()">
            Sign out
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
