<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div style="margin: 1rem;">
    <ion-accordion-group>
      <ion-accordion
          *ngFor="let c of devicesService.data; let i = index"
          [value]="c.name"
          >
        <ion-item slot="header" color="light">
          <ion-label> {{ c.name | uppercase }} </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <ion-list>
            <ion-item
                *ngFor="let subC of c.nav; let j = index"
                routerLink="details/{{i}},{{j}}"
                >
              {{ subC.name }}
            </ion-item>
          </ion-list>

        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>
