<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ subCategory.name }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="isEditable = !isEditable">
        {{ isEditable ? 'Save' : 'Editable' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ subCategory.name }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 1rem">


    <ion-accordion-group>
      <ion-accordion
          *ngFor="let d of subCategory.nav; let i = index"
          [value]="d.name"
          >

        <ion-item slot="header" color="light">
          <ion-label> {{ d.name | uppercase }} </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let p of d.nav; let j = index" style="margin-bottom: 1rem;">
            <ion-item *ngFor="let attr of p | keyvalue" size="6">

              <ion-label *ngIf="!isEditable">
                {{ attr.key | uppercase }}: {{ attr.value }}
              </ion-label>
              <ion-input *ngIf="isEditable" label="{{ attr.key | uppercase }}:"
                  [value]="attr.value" [(ngModel)]="attr.value"
                  >
              </ion-input>

            </ion-item>
          </ion-list>
        </div>

      </ion-accordion>
    </ion-accordion-group>

  </div>

</ion-content>
