<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>Members</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-modal">
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Members</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loading-container" *ngIf="members === undefined">
    <ion-label> Loading members please wait... </ion-label>
    <ion-spinner name="circular"></ion-spinner>
  </div>

  <div *ngIf="members !== undefined">
    <div *ngIf="members.length === 0" class="ion-padding">
      No members are stored in the database. <br>
      Try adding a new one!
    </div>
    <ion-accordion-group *ngIf="members.length !== 0">
      <ion-accordion
          *ngFor="let m of members; let index=index"
          [value]="m.id"
          >
        <ion-item slot="header" color="light">
          <ion-label>
            {{ m.fName }} {{ m.lName }}
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          empty body
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>

<ion-modal trigger="add-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-title> Add Member </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <x-input
        label="Enter email"
        placeholder="Your email"
        name="email"
        [fc]="loginForm.controls.email"></x-input>
      <x-input
        label="Enter student id"
        placeholder="Your student id"
        name="student id"
        [messages]="{ pattern: 'student id must be a valid number' }"
        [fc]="loginForm.controls.sid"></x-input>
      <x-input
        label="Enter first name"
        placeholder="Your first name"
        name="first name"
        [fc]="loginForm.controls.fName"></x-input>
      <x-input
        label="Enter last name"
        placeholder="Your last name"
        name="last name"
        [fc]="loginForm.controls.lName"></x-input>
      <x-input
        label="Enter age"
        placeholder="Your age"
        name="age"
        [fc]="loginForm.controls.age"></x-input>
      <ion-item>
        <ion-select
            label="Select gender"
            placeholder="Your gender"
            interface="action-sheet"
            value="m"
            >
          <ion-select-option value="m"> Male </ion-select-option>
          <ion-select-option value="f"> Female </ion-select-option>
        </ion-select>
      </ion-item>
      <x-input
        label="Enter major"
        placeholder="Your major"
        name="major"
        [fc]="loginForm.controls.major"></x-input>
      <x-input
        label="Enter phone number"
        placeholder="Your phone number"
        name="phone number"
        [messages]="{ pattern: 'Please enter a valid Bahraini phone number' }"
        [fc]="loginForm.controls.phoneNumber"></x-input>

    </ion-content>
  </ng-template>
</ion-modal>
