<ion-header [translucent]="true">
  <app-toolbar title="Settings"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- color : {{ settingsService.barColor }} -->

  <ion-item>
    <ion-select label="Color" interface="action-sheet" [(ngModel)]="settingsService.barColor">
      <ion-select-option value=""> default </ion-select-option>
      <ion-select-option value="danger"> red </ion-select-option>
      <ion-select-option value="warning"> orange </ion-select-option>
      <ion-select-option value="success"> green </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
